/*
Utilities

    **HOVER***
    text-shadow:none;
	text-shadow:0px 0px 15px #0ff , 0px 0px 25px #0ff , 0px 0px 5px #0ff;
	transition: 0.3s;   

/*

/***Resetando parametros do navegador***/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.38'%3E%3Ccircle fill='%23000000' cx='50' cy='0' r='50'/%3E%3Cg fill='%230a0311' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%2312071c' cx='50' cy='100' r='50'/%3E%3Cg fill='%23160b26' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23180e31' cx='50' cy='200' r='50'/%3E%3Cg fill='%231b0f3c' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%231e1047' cx='50' cy='300' r='50'/%3E%3Cg fill='%23201153' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2322125f' cx='50' cy='400' r='50'/%3E%3Cg fill='%2323126b' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23241378' cx='50' cy='500' r='50'/%3E%3Cg fill='%23251384' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23261391' cx='50' cy='600' r='50'/%3E%3Cg fill='%2325139e' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%232513ab' cx='50' cy='700' r='50'/%3E%3Cg fill='%232312b9' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%232112c7' cx='50' cy='800' r='50'/%3E%3Cg fill='%231e11d4' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23190fe2' cx='50' cy='900' r='50'/%3E%3Cg fill='%23120df1' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23050bff' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

/***Classes Gerais***/

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.clear{
    clear:both;
}

.hide-on-desktop{
    display: none;
}

section{
    border-left: 5px solid black;
    border-right: 5px solid black;
}

/***Tipografia***/

p.description{
    position: relative;
    bottom: -200px;
    color: #c6c9d8;
    font-size: 28px;
    line-height: 40px;
    margin: 0;
    padding: 0 2%;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.8);
}

.title{
    color: white;
    text-shadow: 2px 2px 2px red;
}

/***Sessão Do Topo***/

.bg-top{
    background-image:url('../images/background-top.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    max-width: 1200px;
    min-height: 70%;
    margin: 0 auto;
}

/***Sessão Lead***/

section.lead{
    background: url('/images/background-cards.svg');
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

section.lead .container h2{ /***Copied From w3Scholl***/
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.hero-cards-anim {
    position: relative;
    width: 100%;
    text-align: center;
    left: 2%;
}

.hero-cards-anim img{
    box-shadow: 2px 2px 20px 2px black;
}

#card1 {
    animation: float 3.5s ease-in-out infinite;
    height: 30%;
    width: 30%;
    position: relative;
    left: 0px;
}

#card2 {
    animation: float 3s ease-in-out infinite;
    height: 30%;
    width: 35%;
    position: relative;
    left: -30px;
    top:25px;
    z-index: 4;
}

#card3 {
    animation: float 4s ease-in-out infinite;
    height: 30%;
    width: 30%;
    position: relative;
    left: -60px;
}

.lead-tell{
    text-align: center;
}

.lead-tell h3{
    color: white;
}

.lead-tell p{
    color: #ccc;
    font-size: 13px;
    margin-bottom: 10px;
}

.lead-tell a{
    text-shadow: 1px 1px 3px black;
}

/***MEDIA QUERIES***/

@media screen and (max-width:992px){
    .hide-on-desktop{
        display: block;
    }
}

@media only screen and (max-width:768px){
    .bg-top{
        background-image:url('../images/background-top2.jpg');
    }

    p.description{
        position: static;
        background-color: rgba(0, 0, 0, 1);
    }

    .hero-cards-anim img {
        left: 13%;
    }
}

/***Animações***/

@keyframes float{
    0%{
        transform: translatey(0);
    }

    50%{
        transform: translatey(-20px);
    }

    0%{
        transform: translatey(0);
    }
}

@-webkit-keyframes glow {   /***Copied From w3Scholl***/
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }